.imagens {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.maior-letra {
    font-size: 20px;
    font-weight: bold;
    
}

.media-letra {
    font-size: 14px;
}


.div-fundo {
    width: 1510px;  
    height: 200px; 
    background-color: #3498db; 
}


.titulo {
    font-size: 26px;
}