#conteiner{
    display: grid;
    gap: 5px;
    grid-template-areas: 
           "a a"
           "b c"
           "d e"
           "f f"
    ;
}

#um {
    grid-area: a;
}
#dois {
    grid-area: b;
}
#tres {
    grid-area: c;
}
#quatro {
    grid-area: d;
}
#cinco {
    grid-area: e;
}
#seis {
    grid-area: f;
}


#conteiner > div{
    background-color: aqua;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
}