#container {
    display: grid;
    gap: 5px;
}

#container > div {
    background-color: aqua;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
}